html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #063647; 
}

h1 {
	font-size: 3rem;
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.myNav {
	background-color: #000000;
}

.quote{
	display: block;
	border-top-style: ridge;
	margin-top: 0.7em;
	padding-top: 0.7em;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	width: 30%;
	height: 10%;
	border-radius: 30%;
}

.intro-description{
	padding-top: 1rem;
}

.fa {
  font-size: 2em;
}

.soc-container{
	padding-right: 2em;
	display: flex;
	flex-wrap: wrap;
	flex-grow: .4;
}

.project-figure {
	margin: 0 auto 1rem auto;
	height: 70%;
	width: 70%;
}

.project-figure img {
	border-radius: 10px;
	width: 75%;
	height: 75%;
	margin:0 auto;
}

.project-text {
	text-align: center;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
	margin: auto;
	height: 100%;
}

.my-article{
	padding-top: 3em;
	padding-bottom: 3em;
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}